pkgbase = nerdfetch
	pkgdesc = A POSIX fetch using NerdFonts
	pkgver = 1
	pkgrel = 1
	url = https://github.com/ThatOneCalculator/NerdFetch
	arch = any
	license = GPL
	makedepends = git
	source = git+https://github.com/ThatOneCalculator/NerdFetch
	md5sums = SKIP

pkgname = nerdfetch

